$time: 0.3s;

.menu {
  display: grid;
  grid-template-rows: 32px 32px 32px 32px;
  gap: 24px;
  padding-top: 48px;
  width: 68px;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  opacity: 0.6;
  transition: $time all;
  .icon {
    font-size: 32px;
    color: rgba($color: #000000, $alpha: 0.3);
    cursor: pointer;
    transition: $time all;
    &:hover {
      color: orange;
    }
  }

  &:hover {
    opacity: 1;
  }
}