.musicPlayer-progressBar {
  top: 0;
  left: 0;
  height: var(--musicPlayer-progressBar-height, 8px);
  transform: translateY(-50%);
  transition: all 0.3s;
  cursor: pointer;
  &:hover .spot,
  .spot:active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%, -25%);
    cursor: pointer;
  }
  .line {
    pointer-events: none;
    height: 4px;
    background-image: linear-gradient(to right, #399ec0, #368abc, #4974b2, #5f5ca0, #704285);
    opacity: 0.8;
    transition: all 0.3;
  }
}
