.music-label {
  transition: all .2s;
  &:hover {
    transform: translateX(6px);
    box-shadow: 0 0 4px #000;
  }
}
.music-play {
  .lyric {
    right: 0;
    width: calc(100% - 350px);
    height: calc(100% - 30px);
    overflow: overlay;
    overscroll-behavior: contain;
    pointer-events: none;
    &::-webkit-scrollbar {
      width: 0;
    }
    .lyric-main {
      height: fit-content;
      padding-top: 100%;
      padding-bottom: 100%;
    }
    .lyric-item {
      font-size: 16px;
      line-height: 32px;
      font-weight: bold;
      transition: all .2s;
      &.selected {
        font-size: 20px;
        color: var(--color-white-2);
      }
    }
  }
}