.ranking-list {
  height: 100%;
  .left,
  .right {
    height: calc(100% - 6px);
    overflow: overlay;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .left {
    .ranking-grid {
      padding: 24px 48px 0 24px;
      gap: 32px;
      .item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background-size: 100% 100%;
        background-position: center center;
        background-color: burlywood;
        aspect-ratio: 1/1; // 比较好玩的是一个属性，控制 width/height 的比例
        cursor: pointer;
        transition: all .3s;
        &:hover {
          border-radius: 8px;
          background-size: 120% 120%;
        }
        &.active {
          border-radius: 8px;
          background-size: 120% 120%;
        }
        & > div {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 12px;
          color: var(--color-white);
          height: 28px;
          border-radius: 6px;
          font-size: 14px;
          background-color: var(--color-black);
          transform: translate(20%, 4px);
        }
      }
    }
  }
  .right {
    border-left: 1px solid #fff;
  }
}