.ant-menu {
  background-color: transparent;
  .ant-menu-item-selected,
  .ant-menu-item-active {
    &::after {
      border-color: currentColor !important;
    }
  }
  .ant-menu-item-selected:nth-child(1),
  .ant-menu-item-active:nth-child(1) {
    color: #3db2ff !important;
  }
  .ant-menu-item-selected:nth-child(2),
  .ant-menu-item-active:nth-child(2) {
    color: #ffedda !important;
  }
  .ant-menu-item-selected:nth-child(3),
  .ant-menu-item-active:nth-child(3) {
    color: #ffb830 !important;
  }
  .ant-menu-item-selected:nth-child(4),
  .ant-menu-item-active:nth-child(4) {
    color: #ff2442 !important;
  }
}

.ant-menu-horizontal {
  border-color: var(--color-white);
}

.search-page {
  .search-page-item {
    height: calc(100% - 46px);
  }
}

.music-list {
  width: 100%;
  height: 100%;
  overflow: overlay;
  display: grid;
  grid-auto-rows: 58px;
  .music-list-item {
    height: 100%;
    overflow: hidden;
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.3);
      .ranking-top {
        transform: translateY(10%);
      }
    }
    // 排名
    .ranking-top {
      margin-left: 18px;
      font-size: 34px;
      color: var(--color-gray);
      font-weight: bolder;
      text-align: center;
      transform: translateY(25%);
    }
    // 控件
    .control {
      display: grid;
      gap: 24px;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      align-items: center;
    }
  }
}
