.ant-spin {
  color: var(--spin-color, #1890ff);

  .ant-spin-dot-item {
    background-color: currentcolor;
  }

  .ant-spin-text {
    margin-top: 9px;
  }
}

.ant-slider-vertical {
  margin: 0 6px;
}

.ant-skeleton-element {
  width: var(--skeleton-width, auto);
}

// 列表
.ant-popover-content {
  transform: translateX(114px);

  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner {
    max-height: 400px;
    overflow: overlay;
    background-color: rgba($color: #000, $alpha: 40%);
    border-radius: 12px 0 0 12px;
  }
}
