
@import 'antd/dist/antd.css';
@import './reset';
@import './antdRest';
@import './base/extend';

// 组件样式
@import './components/Header';
@import './components/Menu';
@import './components/MusicPlayer';

// 页面样式
@import './page/Search';
@import './page/Play';
@import './page/ranking-list';

body {
  font-family: 'PingFang SC';
  background-color: rgba($color: #000, $alpha: 0%);
}

.no-drag {
  -webkit-app-region: no-drag;
}

.shell {
  height: 100vh;
  overflow: hidden;
  background-color: #557c80;
  background-size: 100% 100%;
  border-radius: 12px;
}

.transition {
  transition: all .2s;
}

.color-white-transparent-0 {
  color: var(--color-white-0)
}

.color-white-transparent {
  color: var(--color-white);
}

.color-white-transparent-2 {
  color: var(--color-white-2);
}

/* stylelint-disable-next-line selector-class-pattern */
.hover\:color-white-transparent-2:hover {
  color: var(--color-white-2);
}

.color-gray-transparent {
  color: var(--color-gray);
}

.bg-black-transparent {
  background-color: var(--color-black);
}

.skeleton {
  @include skeleton(100%, 100%, 2px)
}