@import 'antd/dist/antd.css';
@import './reset';
@import './antdRest.scss';
@import './base/extend';

// 组件样式
@import './components/Header.scss';
@import './components/Menu.scss';
@import './components/MusicPlayer.scss';

// 页面样式
@import './page/Search.scss';
@import './page/Play.scss';
@import './page/ranking-list.scss';

body {
  background-color: rgba($color: #000000, $alpha: 0);
  font-family: 'PingFang SC';
}

.no-drag {
  -webkit-app-region: no-drag;
}

.shell {
  height: 100vh;
  border-radius: 12px;
  overflow: hidden;
  background-color: #557c80;
  background-size: 100% 100%;
}

.transition {
  transition: all .2s;
}

.color-white-transparent-0 {
  color: var(--color-white-0)
}
.color-white-transparent {
  color: var(--color-white);
}
.color-white-transparent-2 {
  color: var(--color-white-2);
}
.hover\:color-white-transparent-2:hover {
  color: var(--color-white-2);
}
.color-gray-transparent {
  color: var(--color-gray);
}
.bg-black-transparent {
  background-color: var(--color-black);
}

.skeleton {
  @include skeleton(100%, 100%, 2px)
}