:root {
  --color-white: rgba(255, 255, 255, 0.3);
  --color-white-2: rgba(255, 255, 255, 0.2);
}

* {
  padding: 0;

  // 设置文字无法选中
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div,
ul,
li,
main,
nav,
header,
footer {
  box-sizing: border-box;
}

html {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'PingFang SC';
  font-size: 16px;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}
