:root {
  --color-white: rgb(255 255 255 / 60%);
  --color-white-2: rgb(255 255 255 / 70%);
  --color-white-0: rgb(255 255 255 / 40%);
  --color-gray: rgb(214 214 214 / 35%);
  --color-black: rgb(0 0 0 / 45%);
  --icon-hover: orange;
}

* {
  padding: 0;
  margin: 0;

  // 设置文字无法选中
  user-select: none;
}

html {
  font-family: 'PingFang SC';
  font-size: 16px;
  font-weight: 400;

  ::-webkit-scrollbar {
    /* 整体样式 */
    width: 6px;
    height: 9px;
  }

  ::-webkit-scrollbar-track {
    /* 轨道 */
    background-color: rgba($color: #000, $alpha: 0%);

    // border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;

    /* 滚动条小方块 */
    border-radius: 10px;
  }
}

div,
ul,
li,
main,
nav,
header,
footer {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}
