:root {
  --color-white: rgba(255, 255, 255, 0.6);
  --color-white-2: rgba(255, 255, 255, 0.7);
  --color-white-0: rgba(255, 255, 255, 0.4);
  --color-gray: rgba(214, 214, 214, 0.35);
  --color-black: rgba(0,0,0, 0.45);
  --icon-hover: orange;
}

* {
  padding: 0;

  // 设置文字无法选中
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  ::-webkit-scrollbar {
    /*整体样式*/
    width: 6px;
    height: 9px;
  }
  ::-webkit-scrollbar-track {
    /*轨道*/
    background-color: rgba($color: #000000, $alpha: 0);
    // border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    /*滚动条小方块*/
    border-radius: 10px;
    background-color: #888;
  }
}

div,
ul,
li,
main,
nav,
header,
footer {
  box-sizing: border-box;
}

html {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'PingFang SC';
  font-size: 16px;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}
